body
{
	margin:0;
	background: #8ef0ff;

}
#left-menu
{
	padding:20px;
}
#right-menu
{
	text-align:right;
	padding: 20px;
	margin-right: 10px;
}
#logo
{
	width:80px;
	height:50px;
}
main
{
	padding:10px 20px;
	margin:10px;
}
#learn
{
	display:inline-block;
	position:relative;
	top:-18px;
	margin-left: 10px;
}
header
{
	width:100%;
	height:100px;
    background:linear-gradient(to bottom right,rgba(0,255,255,0.4),rgba(255,0,255,0.4));
    position: sticky;
	background-repeat: no-repeat;
}
.services
{
	text-align: center;
}
.menu-items
{
	position:relative;
	top:-10px;
	font-size: 16px;
	font-family: arial,sans-serif;
	text-decoration: none;
	cursor:pointer;
	margin:8px;
}
.menu-items:hover
{
	text-decoration: underline;
}
#list_icon
{
	position:relative;
	top:5px;
	margin:8px;
}
#course-wrapper
{
	width:300px;
	position:absolute;
	right:42px;
	top:40px;
	display:none;
}
#dropdown
{
	display:inline-block;
}
li{
	background-color: rgba(200,150,255,0.5);
	padding:10px;
	text-align:center;
}
#dropdown:hover
#course-wrapper
{
	display:block;
}
#details p
{
	display: inline-block;
	width: 24%;
}
#top
{
    display: block;
    text-align: center;
    font-size:25px;
	text-decoration: underline;
	color:#483d8b;
	font-family:helvetica,"times new roman";
}
nav
{
	display:flex;
	justify-content: space-between;
}
#sec_ind
{
	width:40%;
	height:60%;
	border:8px solid #ccc;
	display:inline-block;
}
#aside_ind
{
	width:50%;
	height:350px;
	float: right;
	z-index:-1;
}
a{
	text-decoration: none;
}

button
{
	border-radius:5px;
	color:#2f4f4f;
	background-color:transparent; 
	cursor: pointer;
}
#course_img
{
	width:100%;
}
#contact
{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.social_link
{
	flex-basis:100px;
	height:30px;
	border:2px solid #000;
}
#sbs
{
	text-align: center;
}
footer
{
	position:relative;
	bottom:0;
	width:100%;
	height:20%;
	background:linear-gradient(to bottom right,rgba(0,255,255,0.4),rgba(255,0,255,0.4));
	background-repeat: no-repeat;
}
#about
{
	display:flex;
	justify-content: space-around;
	flex-direction: row;
}
.image
{
	margin:0 auto;
}
.abt_img
{
	width:20%;
	height:250px;
	border:2px black dashed;
}
.ser_img
{
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #2196f3;
	padding: 10px;
	text-align: center;
	grid-gap:8px;
}
#webdd
{
	width:60%;
	height:40%;
	margin:0 auto;
}
.busilm
{
	width:100%;	
	height:250px;
	margin:10px;
}
.sp
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
	text-shadow: 2px 3px lightgray;
	text-transform: full-width;
	z-index: -1;
}
@media screen and (max-width:800px)
{
	*
	{
		display: block;
		position:static;
		padding:5px;
	}
	header
	{
		height:260px;
	}
	iframe
	{
		visibility: hidden;
	}
	#sec_ind
	{
		width:80%;
		display:block;
		margin:0 auto;
	}
	#list_icon
	{
		top:-60px;
		right:-80px;
	}
	#logo
	{
		width:60px;
		height:40px;
		position:relative;
		display: inline-block;
		top: -10px;
		left: -20px;
	}
	#learn
	{
		display: inline-block;
		position: relative;
		top: -35px;
		left: -35px;
		margin-left: 10px;
		font-size: 20px;
	}
	#details p
	{
		display: block;
		width:80%;
		word-wrap:break-word;
	}
	#sbs
	{
		padding: 0px;
		margin: 0px;
	}
	#sec_ind
	{
		border:0px;
	}
	.abt_img
	{
		height:100px;
	}
	#right-menu
	{
		text-align: left;
		padding: 2%;
		position: relative;
		top:-80px;
	}
	nav
	{
		display: block;
		margin:5px;
		padding:3px;
	}
	footer
	{
		height: 8%;
		width: 100%;
	}
	.ser_img
	{
		grid-template-columns: auto;
	}
	#contact
	{
		flex-wrap: wrap;
	}
	.business
	{
		height:200px;
	}
	.social_link
	{
		flex-basis:50px;
		height:30px;
	}
	.social_link .ftext
	{
		display: inline-block;
		position: relative;
		text-align: left;
		top:-20px;
	}
	.social_link .text
	{
		display: inline-block;
		position: relative;
		text-align: left;
		top:0px;
	}
	#course-wrapper
	{
		left:60px;
		top:40px;
	}
	
}
@media screen and (max-width:434px)
{
	.social_link
	{
		flex-basis:20px;
	}
}

